.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.app-container{
    width: 100vw;
    height: 100vh;
}

/* sizing of leaflet container */
.leaflet-container {
    height: 100vh;
}

.popup-button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000; /* Important! Must be above map */

  animation: slideInFade 0.5s ease-out;
}

.sidebar.closing { 
  animation: slideOutFade 0.5s ease-in forwards;
}

@keyframes slideInFade {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutFade {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.close-button{
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    right: 0;
    margin: 10px;
    color: black;
    padding: 5px;
    border-width: 1.5px;
}

.close-button:hover {
  color: red;
}